<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.redis.mapper.PeopleMapper">

    
    <select id="findPeopleById" resultType="com.example.redis.pojo.People">

        select id , age, name   from t_people where id = #{id}

    </select>
</mapper>